@media (min-width:768px){
    .news-input{
        width:50%;
    }
}
*{
    padding: 0;
    margin: 0;
}
@media (max-width:558px){
    .news-input{
        width: 100%;
    }
    .item{
        position: relative;
        top: 50px;
    }
   
}
@media (max-width:368px){
    .news-input{
        width: 140%;
        right: 40px;
        position: relative;
    }
    .item{
        position: relative;
        top: 30px;
    }
     
}
.active{
    opacity: 0;
    visibility: hidden;
    transition: all 2s ease;
}

.rounded-circle{
    width: 150px;
    height: 150px;
    border: 2px solid rgb(0, 128, 53);
}
/* .name{
    background-color: black;
} */
#map{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.active1{
    box-shadow: 5px 5px 5px black;
}